<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
<!--         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"-->
<!--         id="WebApp_ID" version="3.1">-->

<!--    <display-name>web_app</display-name>-->

<!--    <error-page>-->
<!--        <exception-type>java.lang.ArithmeticException</exception-type>-->
<!--        <location>/WEB-INF/view/error.jsp</location>-->
<!--    </error-page>-->

<!--    <servlet>-->
<!--        <servlet-name>AccountServlet</servlet-name>-->
<!--        <servlet-class>ru.clevertec.servlet.AccountServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>AccountServlet</servlet-name>-->
<!--        <url-pattern>/account</url-pattern>-->
<!--    </servlet-mapping>-->

<!--</web-app>-->
